<div class="header">
  <div class="title" (click)="navegar('')">Cardápio Digital</div>
  <div class="new" (click)="navegar('novo')">novo</div>
  <input
    type="text"
    class="form-control input-text"
    placeholder="Comida..."
    [(ngModel)]="comida"
    #inputText="ngModel"
    (ngModelChange)="buscar()"
  />
  <div class="form-group select">
    <select
      class="form-control"
      id="select-categoria"
      (change)="selecionarCategoria($event.target.value)"
    >
      <option value="">Todas</option>
      >
      <option
        *ngFor="let categoria of todasCategorias"
        (click)="selecionarCategoria(categoria.category_title)"
      >
        {{ categoria.category_title }}
      </option>
    </select>
  </div>
</div>
