@import "./../../../styles.scss";

.body {
  top: 100px;
  padding: 45px;
  position: relative;
  height: calc(100vh - 100px);

  .conteudo {
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 5px;
    border: 2px solid $marrom-escuro;

    .cards {
      display: grid;
      gap: 15px;
      margin: 30px;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media screen and (max-width: 1280px) {
  .cards {
    grid-template-columns: 1fr 1fr !important;
  }
}

@media screen and (max-width: 900px) {
  .cards {
    grid-template-columns: 1fr !important;
  }
}

