@import "./../../../styles.scss";

.card {
  height: 100%;
  border: 1px solid $marrom-claro;

  .header {
    display: flex;
    margin-top: 10px;
    padding: 0 15px;
    .titulo {
      font-size: 18px;
      text-align: center;
    }
    mat-icon {
      margin-left: auto;
      &:hover {
        color: red;
        cursor: pointer;
      }
    }
  }

  .imagem {
    height: 200px;
    margin: 15px;
    border-radius: 15px;
  }

  .info {
    margin: 15px;
    display: grid;
    
    .texto-italico {
      font-style: italic;
    }

    .texto-negrito {
      font-weight: bold;
    }

    .nota {
      font-size: 20px;
    }
  }

  &:hover {
    border-color: $marrom-escuro;
    background-color: $bege-claro;
  }
}
